* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #000;
    padding: 20px;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-section {
    margin-bottom: 20px;
}

.search-section input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-panel {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
}

.admin-panel h2 {
    margin-bottom: 15px;
}

.admin-panel label {
    display: block;
    margin-bottom: 5px;
}

.admin-panel input, textarea, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.results {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.results div {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

/* Темна тема */
.dark-theme {
    background-color: #1e1e1e;
    color: #fff;
}

.dark-theme .admin-panel {
    background-color: #333;
    border-color: #555;
}

.dark-theme .search-section input,
.dark-theme .admin-panel input,
.dark-theme .admin-panel textarea,
.dark-theme .admin-panel select,
.dark-theme .search-section button,
.dark-theme .admin-panel button {
    background-color: #555;
    border-color: #777;
    color: #fff;
    resize: none;
}

.dark-theme .results {
    background-color: #333;
    border-color: #555;
}

.dark-theme .results div {
    background-color: #333;
    border-color: #555;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}